*,
:before,
:after {
  box-sizing: border-box;
}

.containers {
  background-color: rgb(241, 210, 180);
  border: 1px solid black;
  margin-top: 3px;
  padding-left: 5px;
}

.proj-title {
  text-align: center;
  text-decoration: underline;
}

#hero-header {
  text-align: center;
}

#hero-container {
  text-align: center;

  a {
    text-align: center;
    text-decoration: none;
  }
}
